
<%- include('includes/head.ejs') %>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Signin</a></li>
            </ul>
        </nav>
    </header>
    <h1>Page Not Found..!</h1>
</body>

</html>